<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Library</title>
</head>
<body>
<h1>User Library</h1>

<p>User: <span th:text="${username}"></span></p>

<!-- Display user's library -->
<ul>
    <li th:each="book : ${library}">
        <span th:text="${book.url}"></span>
        <span th:text="${book.apiId}"></span>
        <form th:action="@{/books/removeFromLibrary}" method="post">
            <input type="hidden" name="bookId" th:value="${book.apiId}"/>
            <button type="submit">Remove from Library</button>
        </form>
        <form th:action="@{/books/readTheBook}" method="post">
            <input type="hidden" name="bookId" th:value="${book.apiId}"/>
            <button type="submit" th:text="'Read ' + ${book.title}">Read</button>
        </form>
    </li>
</ul>

<!-- Link to go back to search -->
<a th:href="@{/books/search}" class="back-link">Back to Search</a>

</body>
</html>
