<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
    rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="client/css/loginStyle.css" />
    <link rel="stylesheet" href="client/css/general.css" />
</head>
<body>
    <div class="background-image-container">
    <nav class="navbar">
    <div class="container nav-links-all">
        <div class="logo-container">
            <a href="#" class="logo-link">
            <img
                class="logo"
                src="client/images/logo.png"
                alt="Website Logo"
                srcset=""
            />
            </a>
        </div>
        <ul class="nav-links">
            <li class="nav-link"><a href="#">About</a></li>
            <li class="nav-link"><a href="#">Books</a></li>
            <li class="nav-link"><a href="#">Created By</a></li>
            <li class="nav-link"><a href="#">Settings</a></li>
        </ul>
        </div>
    </nav>

    <section class="section-main">
        <div class="container section-main-container">
        <div class="left-side">
            <div class="heading-container">
            <h1 class="main-heading">CBU LIBRARY</h1>
            <p class="heading-by-who">By Software Engineering Students</p>
            </div>

            <div class="signin-login-buttons">
            <div class="signin-btn-container">
                <!--<button class="signin-btn"><h6>SIGN IN</h6></button>-->
                <a href="register.html" class="signin-btn"><h6>SIGN IN</h6></a>
            </div>

            <div class="login-btn-container">
                <!--<button class="login-btn"><h5>LOGIN</h5></button>-->
                <a href="login.html" class="login-btn"><h6>LOGIN</h6></a>
            </div>
            </div>

            <div class="social-media-container">
            <div class="social-hashtag-container">
                <a href="#" class="social-link">@perfectbooks</a>
            </div>

            <div class="social-logos-container">
                <ul class="social-logos">
                <li class="social-logo">
                    <a href="#" class="social-link"
                    ><i class="fa-brands fa-instagram"></i
                    ></a>
                </li>
                <li class="social-logo">
                    <a href="#" class="social-link">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                </li>
                <li class="social-logo">
                    <a href="#" class="social-link">
                    <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="social-logo">
                    <a href="#" class="social-link">
                    <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </div>

        <div class="right-side">
            <img class="main-img" src="client/images/main.png" alt="" srcset="" />
        </div>
        </div>
    </section>
    </div>
    <div class="modal hidden">
    <div class="modal-inside">
        <span class="close-modal-cross" id="closeModalBtn">&times;</span>
        


    </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>
