
<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="client/css/loginStyle.css" />
    <link rel="stylesheet" href="client/css/general.css" />
</head>
<body>
    <div class="modal">
        <div class="modal-inside">
            <span class="close-modal-cross" id="closeModalBtn">&times;</span>
            <div class="full-logo-container">
                <img class="modal-logo" src="client/images/full-logo.png" alt="" srcset="" />
            </div>
            <div class="login-panel">
                <h4 class="modal-heading">Login to Cbu Bookshelf</h4>
                <form class="login-form" th:action="@{/login}" method="post">
                    <div class="form-group" th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email or Password</div>
                    </div>
                    <div class="form-group" th:if="${param.logout}">
                        <div class="alert alert-success"> You have been logged out.</div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="modal-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="client/js/script.js"></script>
</body>
</html>
