
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Registration and Login System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="client/css/general.css" />
    <link rel="stylesheet" href="client/css/books.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container nav-links-all">
        <div class="logo-container">
          <a href="#" class="logo-link">
            <img
              class="logo"
              src="client/images/logo.png"
              alt="Website Logo"
              srcset=""
            />
          </a>
        </div>
        <ul class="nav-links">
          <li class="nav-link">
            <div class="nav-link-container profile-link">
              <a href="#">Profile <i class="fa-solid fa-user"></i></a>
            </div>
          </li>
          <li class="nav-link">
            <div class="nav-link-container">
              <a href="bookShelf.html"
                >Bookshelf <i class="fa-solid fa-book"></i
              ></a>
            </div>
          </li>
          <li class="nav-link">
            <div class="nav-link-container">
              <a href="bookSearch.html"
                >Book Search <i class="fa-solid fa-magnifying-glass"></i
              ></a>
            </div>
          </li>
          <li class="nav-link">
            <div class="nav-link-container settings-link">
              <a href="#">Settings <i class="fa-solid fa-gear"></i></a>
            </div>
          </li>
          <li class="nav-link">
            <div class="nav-link-container">
              <a href="../index.html"
                >Log out <i class="fa-solid fa-arrow-right-from-bracket"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
<br>
<br>
<div class="container">
    <div class="row col-md-10">
        <h2>List of Registered Users</h2>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>


    
</div>
</body>
</html>